html{
    margin: 0;
    padding: 0;
    border: 0 none;
    font-family: Arial, Sans-serif;
}

html, body{
    height:100%;
    width: 100%;
}

p{
    font-family: Arial, Sans-serif;
}

header{
    width: 100%;
    height: 60px;
    font: Arial impact 16px bold;
    grid-column: 1 / span 3;
    grid-row: 1;
    z-index: 200;
};

#headerspace{
    width: 100%;
    height: 800px;
    /*background-color: navy;
    color:  white;
    text-align: center;
    vertical-align: middle;*/
    top:0;
    grid-column: 1 / span 3;
    grid-row: 1;
}

.fixed{
    position: fixed;
}

body{
    font-size: 0.8rem;
    border: 0 none;
    background: #ffffff ;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

nav{
    width: 15%;
    background: #f0f0f0;
    margin:0;
    padding:0;
    height: 100% !important;
    text-align: left;
}

.site-main {
    flex: 1;
    display: flex;
    margin-top: 60px
}

#main{
    //background:#EEF6F6;
    height: 100%;
    padding:0.5%;
    min-height: 560px;
    flex: 1;
}

#homeintro{
    text-align:left;
}

aside{
    top:60px;
    width:15%;
    overflow: hidden;
}

#aside{
    height: calc(100% - 60px);
    background: #6495ED;
    width: 100%;
    overflow: hidden;
}


footer{
    height: 100px;
    background-color: red;
    z-index: 2;
}

/*
#intro{
    margin: 0.2% auto;
    background: #FFFFFF;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    border-radius: 8px;
    border-spacing: 10px;
    padding: 10px;
    color: black;
    width: 100%;
}
*/

#content{
    width: 100%;
}

.TreeNav{
    width: 100%;
    overflow: scroll;
    display: inline-block;
}

.simple_design{
    text-align: left;
    margin-bottom: 100px;   
}

section{
    display: inline-block;  
    position: relative;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

section p {
    text-align: left;
    display: inline-block;
}

section ul {
    width: 96%;
    margin: 0px auto;
    text-align: left;
    position: relative;
    display: block;
}

section ul div{
    width: 100%;
}

table{
    margin: 0 auto 0 auto;
    table-layout: fixed;
    text-align: left;
    width: 100%;
}

button{
    padding: 1%;
    margin: 0.5%;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    text-align: center;
}

#RefCaracteristics{
    text-align: left;
    width: 100%;
}

#RefCaracteristics>h2 h1{
    text-align: center;
}

.butexp {
    background-color: #f2cf7b;
    border-color: #f0aa01;
}

.butdis {
    background-color: #F9AC68;
    border-color: #FC540B;
}


.butqst{
    background-color: #a477cc;
    border-color: #5f2f89;
}

.butprp{
    background-color: #7ab3e7;
    border-color: #378ddd;
}

.butopp{
    background-color: #93f99a;
    border-color: #38a940;
}

.butopn{
    background-color: #f98b8b;
    border-color: #f92222;
}

.butsrc:hover{
    background-color:#e6e6e5;
}

.butgodetails{
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: : 0px;
    padding-right: 10px
    padding-left: 10px;
}

.butgodetails:hover{
    background-color:#e6e6e5;
}

.law_section table, th, td{
    list-style: none;
}

.Bigposopinion
{
    background-color: #93f99a;
    border-width: 1px;
    border-color: #38a940;
    border-style: solid;
    border-radius: 8px;
    display: inline-block;
    width: 46%;
    margin: 0.5%;
    padding: 1%;
    clear: both;
}

.posopinion, .opptype
{
    background-color: #cffcd2;
    border-width: 1px;
    border-color: #38a940;
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    margin: 0.2%;
    padding: 2%;    
    padding-bottom: 0%;
    width: 96%;
}

.Bignegopinion
{
    background-color: #f98b8b;
    border-width: 1px;
    border-color: #f92222;
    border-style: solid;
    border-radius: 8px;
    border-spacing: 10px;
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 0.5%;
    padding: 1%;
}

.negopinion, .opntype
{
    background-color: #fccfcf;
    border-width: 1px;
    border-color: #f92222;
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    margin: 0.2%;
    padding: 2%;
    padding-bottom: 0%;
    width: 96%;
}

.Bigproposition
{
    background-color: #7ab3e7;
    border-width: 1px;
    border-color: #378ddd;
    border-style: solid;
    border-radius: 8px;
    border-spacing: 10px;
    margin: 1%;
    padding: 10px;
}

.proposition, .prptype
{
    background-color: #b3d1ff;
    border-color: #4d94ff;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    margin: 0.2%;
    padding: 2%;
    padding-bottom: 0%;
    width: 100%;
}

.law_text
{
    background-color: #e6e6e5;
    border-color: #c1c1be;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    margin: 0.2%;
    padding-bottom: 0%;
}

.lwp_text
{
    background: linear-gradient(130deg, #d6d5d4 30%, #b3d1ff 70%);
    border-color: #4d94ff;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    margin: 0.2%;
    padding: 2%;
    padding-bottom: 0%;
}


.BoxIntroStyle
{
    background-color: #ebd9c6;
    border-color: #c68c53;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    display: inline-block;
    margin: 0.2%;
    padding: 1%;
}

.RefIntroStyle{
    padding: 1%;
}

section form{
    padding: 2%;
    text-align: left;
    list-style: none;
}


.law_section, .lawtype
{   
    background-color: #d6d5d4;
    border-width: 1px;
    border-color: #909090;
    border-style: solid;
    border-radius: 8px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 0%;
    width: 96%;
}


.lwp_section, .lwptype
{   
    background: linear-gradient(130deg, #d6d5d4 30%, #b3d1ff 70%);
    border-width: 1px;
    border-color: #4d94ff; //linear-gradient(130deg, #909090 30%, #4d94ff 70%);
    border-style: solid;
    border-radius: 8px;
    margin: 1%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 0%;
}

.debate{
    overflow: auto;
}

.explaination, .exptype
{
    background-color: #f7e5ba;
    border-width: 1px;
    border-color: #f0aa014d;
    border-style: solid;
    border-radius: 20px;
    border-spacing: 10px;
    margin: 0.2%;
    padding: 2%;
    padding-bottom: 0.2%;
    width: 500px;
}

.question, .qsttype
{
    background-color:#dac8ea;
    border-width: 1px;
    border-color: #743aa733;
    border-style: solid;
    border-radius: 20px;
    border-spacing: 10px;
    margin: 0.2%;
    padding: 2%;
    padding-bottom: 0.2%;
    width: 500px;
}

.source, .srctype{
    background-color: #f2f2f2;
    border-width: 1px;
    border-color: #999999;
    border-style: solid;
    border-spacing: 10px;
    margin: 0.2%;
    padding: 2%;
    padding-bottom: 0.2%;
    width: 100%;
}

.Interact td {
    position: relative; 
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.donut
{
    vertical-align: -20px;
    display: inline-block;
    width:80px;
    height:60px;

}

.donuts_label
{
    font-weight: bold;  
}

.icn
{
    vertical-align: -3px;   
}

.icn2
{
    vertical-align: -8px;   
}

.UP
{
    vertical-align: -6px;   
}

.DOWN
{
    vertical-align: -6px;   
}

.count
{
    float:  left;
    white-space: nowrap;
}

.vote
{
    float:  right;
    display: inline-block;
}

.IDB{
    padding: 1rem;
    margin-bottom: 1rem;
}

.IDB:hover {
    background-color: #ccccff;
    cursor: pointer;
}

.clickable:hover{
    background-color: #ccccff;
}

.clickable {
    cursor: pointer;
}

#home_icone{
    float: left;
    vertical-align: middle;
    padding: 6px;
    margin: 6px;
    margin-left: 20px;
    margin-right: 20px;
}

.header_button{
    float: right;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;  
    color: white;
    vertical-align: middle;
    padding: 30px;
    cursor: pointer;
}

.suscribe{
    float:right;
    font-weight: bold;
}

.list_nav{
    padding: 8px;
    margin-right: 5px;
    font-size: 14px;
    font-weight: bold;
}

.list_nav:hover {
    background-color: white;
    cursor: pointer;
}

.InDatBox:hover {
    cursor: pointer;
}

.GetReflection:hover {
    cursor: pointer;
}

.butprofile {
    padding: 1.5%;
    margin: 2%;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    background-color: navy;
}

.short_message{
    padding-left:10%; 
    padding-top:5%;
}

#Profile_section{
    margin: 2%;
}

.error_message{
    color:  #b30000;
}

.SmallMenu{
    text-decoration: underline, bold;
    float: right;
}

.Commitlist{
    list-style-type: none;
    border-width: 2px;
    border-color: grey;
    border-style: solid;
    border-radius: 10px;
    margin: 1%;
    display: block;
    float: center;
    overflow: hidden;
}

.CommitHead{
    padding: 1%;
    color: white;
    background-color: #6495ED;
    overflow: auto;
}

.CommitContent{
    margin: 1%;
    background: #ffffff;
}

.CommitComments{
    padding: 1%;
    background-color: #b3d1ff;
}

.CommitAdd{
    color: green;
    background-color: #cffcd2;
}

.CommitRemove{
    color: red;
    //text-decoration-line: line-through;
    background-color: #fccfcf;
}

.CommitDate{
    float: right;
}

.horizontalmenu{
    width:100%;
    position: relative;
    overflow: auto;
    white-space:nowrap;
}

.deletabletab{
    padding-right: 0.2rem;
}

.navtreetab{
    list-style-type:none;
    display:inline-block;
    /*
    overflow:auto;
    overflow-y: hidden;*/
}

.totabico{
    visibility:hidden;
    padding-left: 8px;
}

.totabico:hover{
    cursor: pointer;
}

.navtreetab > li{
    display:inline-block;   
}

#addtab{
    font-weight: bold;
    font-size: 14;
}

.deco-item{
    float: right;
    color: white;
}

.RefSetMenu{
    position: absolute;
    transform: translate3d(0px, 40px, 0px);
    top: 0px;
    left: 0px; 
    will-change: transform;
    overflow: visible;
}

#Prez{
    padding: 20px
}

.prez_nav{
    position: fixed;
    overflow: hidden;
    padding-left: 5px;
    height: calc(100% - 140px);
    overflow: auto;
}

.prez_nav ul{
    padding-left:10px;
}


#Prez a[name^="anch"]{
    padding-top: 80px;
    margin-top: -80px;
}


#justicenav{
    width:28%;
    position: fixed;
    height: calc(100vh - 60px);
}

.JusticeDebate{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break:break-all;
    text-overflow: ellipsis;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;*/
}

.MessageWrapper{
    width:100%;
    display: inline-block;
}

.JusticeMessage{
    max-width: 85%;
    display: inline-block;
}

.MessageCard{
    padding:0.5rem;
}

.MessageDate{
    float: right;
}

.MyMessage{
    float: right;
}

.JusticeTask{
    cursor: pointer;
    line-height: 1rem;
}

#justiceContents{
    overflow: auto;
    height: calc(100% - 50px);
}

.radioinline{
    display: inline-block;
    margin-left: 5px;
}

.radioinline div{
    display: inline-block;
    margin-left: 5px;
}

/*
from:
https://ourcodeworld.com/articles/read/653/how-to-diff-html-compare-and-highlight-differences-and-generate-output-in-html-with-javascript

START HERE*/
ins {
    text-decoration: none;
    background-color: #d4fcbc;
}

del {
    text-decoration: line-through;
    background-color: #fbb6c2;
    color: #555;
}
/* TO HERE */

#CYLtrees{
    position:fixed;
}

#NavBackGround{ /* calc(100% - 140px); */
    background: #efefef;
    margin:0;
    padding:0;
    height: calc(100hv - 140px)
    min-height: 100%; 
}

.Interact{
    background-color: #efefef;
    border: 1px groove #e6e6e6;
}

.TimelineTab{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left:3%;
    margin-right:3%;
}

fieldset {    
    text-align: left;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 4px groove;
    background-color: #fff;
}

legend {
    width: auto;
    background-color: #efefef;
}

#Timeline{
    text-align: left;
    background-color: #fff;
}

.CompareCommitSelect{
    width: 40%;
    float: right;
    margin-top: -2%;
}


.abrogated {
    opacity: 0.7;
    background-color: #f2f2f2;
}

#CheckboxAbrogatedDiv{
    margin-left:10%;
    display: inline;
}

#CheckboxAbrogatedDiv>input{
    vertical-align:sub;
    position: relative;
}

#ChatMenu{
    background-color: #dde0ff;
    padding: 2%;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ChatMenuElt{
    width:100%;
}

.ChatMenuElt:hover{
    background-color: #cce0ff;
}

.SearchBar{
    padding: 1%;
}

#MainSearchBar{
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    border-radius: 10px;
}

#SearchConvBar{
    border-width: 1px;
    border-color: #f0f0f0;
    border-style: solid;
    border-radius: 10px;
}

#SearchUserResultsDiv{
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 150px; 
    overflow: auto;
}

#SearchUserResultsDiv div {
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

#SearchUserResultsForm {
    position: relative;
    display: inline-block;
    border-width: 1px;
    border-color: #f0f0f0;
}


#SearchUserResultsDiv div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.AddedParticipant{
    font-size:100%;
    margin: 5px;
}

.chat-log{
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
    border-width: 1px;
    border-color: #f0f0f0;
    border-style: solid;
}

#listconversations{
    height: calc(100vh - 155px);
    overflow-y: auto;
}

#ContactsList td{
    text-align: center;
    vertical-align: middle;
}

#ContactsList th{
    vertical-align: middle;
}

#ContactsList{
    height: calc(100vh - 164px);
    overflow: auto;
}