
<li id='Commit${pk}' class='Commitlist'>
	<div class="CommitHead"> <label class='CommitDate'>${date}</label></br></div>
	<div class="CommitContent">
		<button type="button" class="btn btn-outline-info btn-sm hideshowdiff" name="${pk}" style="float:right;">montrer/cacher les évolutions</button> 
		<br>
		<h5><span id='TitleCommit${pk}'class="OriginalText">${title}</span></h5>
		<h5><span id='DiffTitleCommit${pk}' class="DiffText">${Difftitle}</span></h5>
		<span id='TextCommit${pk}' class="OriginalText">${text}</span>
		<span id='DiffTextCommit${pk}' class="DiffText">${Difftext}</span>
		<br>
		<h6>Note:</h6>
		<span id='DetailsCommit${pk}' class="OriginalText">${details}</span>
		<span id='DiffDetailsCommit${pk}' class="DiffText">${Diffdetails}</span>
	</div>
	<div class="CommitComments">
		${comments}
	</div>	
</li>      