{% extends "base_CYL.html" %}
{% load widget_tweaks %}
{% load special_filters %}
{% load static %}

{% block intro %}
<h1> Où suis-je? </h1>
<p> 
    {% if typeref == 'law' %}    <!--         The path to the Article           -->
        {% for x in listparents %}
            <var class="InDatBox BoxIntroStyle" name="{{x|lookup:2}}:{{x|lookup:1}}"><strong>  {{x|lookup:0|truncatewords:4}}  </strong></var>  >>  
        {% endfor %}
    {% elif typeref == 'prp' %}  
        <var class="InDatBox BoxIntroStyle" name="1:{{ref.law_article.law_code.id}}"><strong>  {{ ref.law_article.law_code.title|truncatewords:4}}  </strong></var>  >>  ...  >>  <var class="GetReflection law_text" name="law:{{ref.law_article.id}}"><strong>  {{ref.law_article.title|truncatewords:4}}  </strong></var>   >>   
    {% else %}   <!--         The path to the reflection       -->
        <var class="InDatBox BoxIntroStyle" name="1:{{law_code.id}}"><strong>  {{ law_code.title|truncatewords:4}}  </strong></var>  >>  ...  >>  
        {% for x in list_parents %}
            <var class="GetReflection {{x|lookup:0|Csstype}}" name="{{x|lookup:0}}:{{x|lookup:1}}"><strong>  {{x|lookup:2|truncatewords:4}}  </strong></var>  >>     
        {% endfor %}
    {% endif %}
    <var class="{{typeref|Csstype}}">
    {% if ref.title %}    
        {{ref.title|truncatewords:8}}
    {% else %}
        {{ref.text|truncatewords:8}}
    {% endif %}
    </var>
    >> Historique
</p>

{% endblock %}


{% block content %}
{% autoescape off %}

<p id="CommitDialog"></p>

<!--##########################################################################################
##################################      The timeline         #################################
###########################################################################################-->

    {% if typeref == 'law' %}  
            <!--         The Law article           -->
        {% if ref.is_lwp %}
            <section class="lwp_section">
        {% else %}
            <section class="law_section">
        {% endif %}
        <h1>{{ref.law_code.title}}</h1> 
            <h2>{{ref.title}}</h2>
            <p>{{ref.text_law}}</p>

    {% else %}
        {% if typeref == 'prp' %}
                <h1> Contre proposition à: 
            <span class="GetReflection" name="{{fstparent|lookup:0}}:{{fstparent|lookup:1}}"> 
            {% if ref.content_object.title %}  
                {{ref.content_object.title}} 
            {% else %}
                {{ref.content_object.text_prp}}
            {% endif %}</span></h1>
            <section class="proposition">    
            {% if ref.title %}    
                <h2>{{ref.title}}</h2>
                <p>{{ref.text_prp}}</p>
                <br>
                <h3>But recherché par cette contre-proposition:</h3>
                <br>
                <p>{{ref.details_prp}}</p>
            {% else %}
                <h2>{{ref.text_prop}}</h2>
             {% endif %}
         {% endif %} 
    {% endif %}
                <p class="count"> <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{ref.nb_q}}
                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{ref.nb_exp}} 
                </p>
                <p class="vote">
                    <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="{{typeref}}:{{ref.id}}" value="UP"/>
                    <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="{{typeref}}:{{ref.id}}" value="DOWN"/>
                        note:
                    <canvas id="don{{typeref}}{{ref.id}}" name="{{ref.approval_ratio}}" class="donut"></canvas>
                </p>
            </section>


<!--############################################################################################
######################################     the Commits     #####################################
#############################################################################################-->
{% for x in Commits %}
    <article id="cmtdebate{{x.id}}" class="UpSection cmtInteract">
    </article>
{% endfor %}
{% endautoescape %}

<script type="text/javascript" src="{% static 'js/CommitRef.js' %}"></script>
<script type="text/javascript">
    OnceLoadCommitDetails();
</script>
{% endblock %}


