{% load static %}

<link title="timeline-styles" rel="stylesheet" href="{% static 'css/vis-timeline-graph2d.min.css' %}">
<script src="{% static 'js/vis-timeline-graph2d.min.js' %}"></script>
<div id='Timeline' style="width:100%"></div>
<br>

{% autoescape off %}

{% if typeref == 'law' %}
    {% if ref.is_lwp %}
        <article id="HistoryVisualise" class="lwp_section">
    {% else %}
        <article id="HistoryVisualise" class="law_section">
    {% endif %}
{% elif typeref == 'qst' %} 
    <article id="HistoryVisualise" class="question"> 
{% elif typeref == 'exp' %}
    <article id="HistoryVisualise" class="explaination">
{% elif typeref == 'opp' %}
    <article id="HistoryVisualise" class="posopinion">
{% elif typeref == 'opn' %}
    <article id="HistoryVisualise" class="negopinion">
{% elif typeref == 'prp' %}
    <article id="HistoryVisualise" class="proposition">
{% endif %}
<fieldset id='FieldVersion{{Commits|length|add:"1"}}' name="{{typeref}}HistoryField{{ref.id}}" class="CommitStyle ActiveCommit">
    <legend id="versionning">
    <input type="image" src="{% static 'icons/previous3.png' %}" alt="previous_button" class="icn2 GoCommitVersion" name='toVersion:{{Commits|length}}'/>
     &nbsp; Version {{Commits|length|add:"1"}} &nbsp;
    <input type="image" src="{% static 'icons/empty.png' %}"alt="empty" class="icn2"/>
    </legend>
    <div class="CompareCommitSelect input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Comparer avec </label>
        </div>
        <select class="custom-select CompareListCommitSelect" id="CompareSelectVersion{{Commits|length|add:"1"}}">
            <option selected value="0">Aucune...</option>
            {% for com in Commits %}
                <option value="{{forloop.counter}}">Version {{forloop.counter}}</option>
            {% endfor %}
        </select>
    </div>  
    <h2 id="titleV{{Commits|length|add:"1"}}">{{ref.title}}</h2>
    {% if typeref == 'law' %} 
        <div id="txtV{{Commits|length|add:"1"}}">{{ref.text_law|safe}}</div>
        <h6>Details</h6>
        {% if ref.details_law != '' %} 
            <div id="detailsV{{Commits|length|add:"1"}}">{{ref.details_law|safe}}</div>
        {% else %}
            <div id="detailsV{{Commits|length|add:"1"}}">Aucun</div>
        {% endif %}
    {% elif typeref == 'prp' %}
        <div id="txtV{{Commits|length|add:"1"}}">{{ref.text_prp|safe}}</div>
        <br>
        <h6>Details</h6>
        {% if ref.details_prp != '' %} 
            <div id="detailsV{{Commits|length|add:"1"}}">{{ref.details_prp|safe}}</div>
        {% else %}
            <div id="detailsV{{Commits|length|add:"1"}}">Aucun</div>
        {% endif %}
    {% endif %}
    <br>
    </fieldset>
    {% for com in Commits %}
        <fieldset id="FieldVersion{{forloop.counter}}" name="comHistoryField{{com.id}}" class="CommitStyle">
            <legend id="versionning"> 
                {% if forloop.counter == 1 %}
                    <input type="image" src="{% static 'icons/empty.png' %}" alt="empty" class="icn2"/>
                {% else %}
                    <input type="image" src="{% static 'icons/previous3.png' %}" alt="previous_button" class="icn2 GoCommitVersion" name='toVersion:{{forloop.counter|add:"-1"}}'/>
                {% endif %}
                &nbsp; Version {{ forloop.counter }} &nbsp;
                <input type="image" src="{% static 'icons/next3.png' %}" alt="next_button"  class="icn2 GoCommitVersion" name='toVersion:{{forloop.counter|add:"1"}}'/></legend>
            <div class="CompareCommitSelect input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Comparer avec </label>
                </div>
                <select class="custom-select CompareListCommitSelect" id="CompareSelectVersion{{forloop.counter}}">
                    <option selected value="0">Aucune...</option>
                    {% for com in Commits %}
                        {% if forloop.counter != forloop.parentloop.counter %} 
                            <option value="{{forloop.counter}}">Version {{forloop.counter}}</option>
                        {% endif %}
                    {% endfor %}
                    <option value="{{Commits|length|add:"1"}}">Version {{Commits|length|add:"1"}}</option>
                </select>
            </div>
            <h2 id="titleV{{forloop.counter}}">{{com.commit_title|safe}}</h2>
            <div id="txtV{{forloop.counter}}">{{com.commit_txt|safe}}</div>
            <br>
            <h6>Details</h6>
            {% if com.commit_details != '' %} 
                <div id="detailsV{{forloop.counter}}">{{com.commit_details}}</div>
            {% else %}
                <div id="detailsV{{forloop.counter}}">Aucun</div>
            {% endif %}
            {% if com.comments != '' %} 
                <hr>
                <p>{{com.comments}}</p>
            {% endif %}
            <br>
            <div id="InteractCommit{{com.id}}" class="Interact cmtInteract">
            </div>
        </fieldset>
    {% endfor %}
</article>
<script>
    OnceLoadCommitDetails();
    SetVisibleCommit();
</script>
{% endautoescape %}


{% comment %}
<fieldset class="CommitStyle ActiveCommit">
    <legend id="versionning"> &nbsp; Version {{Commits|length|add:"1"}} &nbsp;</legend>
    {% if typeref == 'law' %}
        {% if ref.is_lwp %}
            <div id="HistoryVisualise" class="lwp_section">
        {% else %}
            <div id="HistoryVisualise" class="law_section">
        {% endif %}
    {% elif typeref == 'qst' %} 
        <div id="HistoryVisualise" class="question"> 
    {% elif typeref == 'exp' %}
        <div id="HistoryVisualise" class="explaination">
    {% elif typeref == 'opp' %}
        <div id="HistoryVisualise" class="posopinion">
    {% elif typeref == 'opn' %}
        <div id="HistoryVisualise" class="negopinion">
    {% elif typeref == 'prp' %}
        <div id="HistoryVisualise" class="proposition">
    {% endif %}
    {% if ref.title %}    
        <h2>{{ref.title}}</h2>
        {% if typeref == 'law' %} 
            <p>{{ref.text_law|safe}}</p> 
        {% elif typeref == 'qst' %}
            <p>{{ref.text_qst|safe}}</p>
        {% elif typeref == 'exp' %}
            <p>{{ref.text_exp|safe}}</p>
        {% elif typeref == 'opp' %}
            <p>{{ref.text_opp|safe}}</p>
        {% elif typeref == 'opn' %}
            <p>{{ref.text_opn|safe}}</p>
        {% elif typeref == 'prp' %}
            <p>{{ref.text_prp|safe}}</p>
            <br>
            <h3>But recherché par cette contre-proposition:</h3>
            <br>
            <p>{{ref.details_prp}}</p>
        {% endif %}
        <br>
    {% else %}
        {% if typeref == 'law' %} 
            <h2>{{ref.text_law|safe}}</h2> 
        {% if typeref == 'qst' %}
            <h2>{{ref.text_qst|safe}}</h2>
        {% elif typeref == 'exp' %}
            <h2>{{ref.text_exp|safe}}</h2>
        {% elif typeref == 'opp' %}
            <h2>{{ref.text_opp|safe}}</h2>
        {% elif typeref == 'opn' %}
            <h2>{{ref.text_opn|safe}}</h2>
        {% elif typeref == 'prp' %}
            <h2>{{ref.text_prop|safe}}</h2>
        {% endif %}
    {% endif %}
    {% endif %}
        </div>
    </fieldset>
    {% for com in Commits %}
        <fieldset class="CommitStyle">
            <legend id="versionning"> &nbsp; Version {{ forloop.counter }} &nbsp;</legend>
            {% if typeref == 'law' %}
                {% if ref.is_lwp %}
                    <div id="HistoryVisualise" class="lwp_section">
                {% else %}
                    <div id="HistoryVisualise" class="law_section">
                {% endif %}
            {% elif typeref == 'qst' %} 
                <div id="HistoryVisualise" class="question"> 
            {% elif typeref == 'exp' %}
                <div id="HistoryVisualise" class="explaination">
            {% elif typeref == 'opp' %}
                <div id="HistoryVisualise" class="posopinion">
            {% elif typeref == 'opn' %}
                <div id="HistoryVisualise" class="negopinion">
            {% elif typeref == 'prp' %}
                <div id="HistoryVisualise" class="proposition">
            {% endif %}
            <h2>{{com.commit_title}}</h2>
            <p>{{com.commit_txt}}</p>
            {% if com.commit_details != '' %} 
                <h6>Details</h6>
                <p>{{com.commit_details}}</p>
            {% endif %}
            {% if com.comments != '' %} 
                <hr>
                <p>{{com.comments}}</p>
            {% endif %}
        </div>
        <br>
        <div id="InteractCommit{{com.id}}" class="Interact cmtInteract">
        </div>
        </fieldset>
    {% endfor %}
{% endcomment %}