<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'Bootstrap/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'Bootstrap/js/tooltip.min.js' %}"></script> 
    <script type="text/javascript" src="{% static 'Bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Bootstrap/css/litera-theme.css' %}" /> 
    <link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui.min.css' %}"></link>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'js/myJS_CYL.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mainSearchBar.js' %}"></script>
    {% block script %} {% endblock %}
     <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="fixed navbar navbar-expand-lg navbar-dark bg-primary">
      {% block header %}
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'icons/home2.png' %}" alt="home" id="home_icone"></a>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="GoCYL" href="{% url 'home' %}">Créons nos lois</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="GoBudget" href="{% url 'home' %}">Le Budget</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="GoDefineExpectations" href="{% url 'Expectations' %}">Nos attentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="GoToPrez" href="{% url 'Get_Prez' %}">C'est quoi l'idée?</a>
            </li>
        </ul>
        <div id="MainSearch" name="MainSearch" class="SearchBar"> 
            <div id="MainSearchBar" class="input-group">
                <div class="input-group-prepend">
                    <img src="{% static 'icons/searchMain.png'%}" alt="search">
                </div>
                <input id="MainSearchBarInput" type="text" class="form-control form-control-sm" placeholder="Recherche...">
              </div>
        </div>
        <span class="nav-item">
            {% if user.is_authenticated %}
                <a class="nav-link deco-item" href="/UserManager/accounts/logout">se déconnecter</a>
                <a class="nav-link deco-item" href="/Chat/"><img src="{% static 'icons/mail.png' %}" alt="com" title="messagerie" class="icn"></a>
                <a class="nav-link deco-item" id="GoProfile" href="/UserManager/profile"><img src="{% static 'img/profile.png' %}" alt="profile" title="Gestion du profil" id="profile_icone"></a>
                <a class="nav-link deco-item" id="GoCommonJustice" href="/CommonsJustice/TakeDecisions"><img src="{% static 'img/justice3.png' %}" alt="justice" id="justice_icone" title="délibérations"></a>
            {% else %}
                <div name="emptyspace" style="width:248px"></div>
                <a class="nav-link deco-item" href="/UserManager/accounts/login">se connecter</a>
            {% endif %}
        </span>
          <!--
          <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" placeholder="Search" type="text">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>-->
      {% endblock %}
    </header>
    <main class="site-main">
      <nav id="MainNav">
        {% block nav %}
        {% endblock %}
      </nav>
      <article id="main">
        {% block Main %}
        {% endblock %}          
      </article>
      <aside>
        <section id="aside" class="fixed">
        {% block aside %}
        {% endblock %} 
        </section>
      </aside>
    </main>
    <footer class="bg-primary">
      <p>
        
      </p>
      <section id="script2">
        {% block script2 %} {% endblock %}
      </section>
    </footer>
  </body>
</html>