{% extends "base.html" %}

{% load static %}
{% load user_agents %}


{% block script %} 
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/adapters/jquery.js" %}"></script>
    <style type="text/css" media="screen">
        nav{
            display: inline-block;
        }   
    </style>
{% endblock %}

{% block nav %}
    {% if request|is_mobile %}
        <style type="text/css" media="screen">
            #MainNav{
                display: none;
            }
        </style>
    {% else %}
        {% include 'Trees.html'%}
    {% endif %}
{% endblock %}

 {% block Main %}
     <section  id="intro">
       {% block intro %}{% endblock %}
     </section>
     <br>
     <section id="content" class="UpSection">
       {% block content %}{% endblock %}
     </section>
 {% endblock %}

 {%block aside%}
    {% if request|is_mobile %}
        <style type="text/css" media="screen">
            aside{
                display: none;
            }
        </style>
    {% endif %}
 {% endblock %}
 
 {% block script2 %} 
    
 {% endblock %}