{% load widget_tweaks %}
{% load special_filters %}
{% load static %}

<nav aria-label="breadcrumb" style="width:100%; text-align: center;"> 
    {% if typeref == 'law' %}    <!--         The path to the Article           -->
        {% for x in listparents %}
            <span class="InDatBox BoxIntroStyle" name="{{x|lookup:2}}:{{x|lookup:1}}" href="/CYL/InDatBox/{{x|lookup:2}}/{{x|lookup:1}}"><strong>  {{x|lookup:0|truncatewords:4}}  </strong></span>  >>  
        {% endfor %}
    {% elif typeref == 'prp' %}  
        <span class="InDatBox BoxIntroStyle" name="1:{{ref.law_article.law_code.id}}"><strong>  {{ ref.law_article.law_code.title|truncatewords:4}}  </strong></span>  >>  ...  >>  <span class="GetReflection law_text RefIntroStyle" name="law:{{ref.law_article.id}}"><strong>  {{ref.law_article.title|truncatewords:4}}  </strong></span>   >>   
    {% else %}   <!--         The path to the reflection       -->
        <span class="InDatBox BoxIntroStyle" name="1:{{law_code.id}}"><strong>  {{ law_code.title|truncatewords:4}}  </strong></span>  >>  ...  >>  
        {% for x in list_parents %}
            <span class="GetReflection {{x|lookup:0|Csstype}} RefIntroStyle" name="{{x|lookup:0}}:{{x|lookup:1}}"><strong>  {{x|lookup:2|truncatewords:4}}  </strong></span>  >>     
        {% endfor %}
    {% endif %}
    <span class="{{typeref|Csstype}} RefIntroStyle">
    {% if ref.title %}    
        {{ref.title|truncatewords:8}}
    {% else %}
        {{ref.text|safe|truncatewords:8}}
    {% endif %}
    </span>
</nav>