{% extends "base_CYL.html" %}
{% load static %}
{% load special_filters %}

{% block title %}
    {% if list_ref_type == 'qst' %}
        liste des questions sur 
    {% elif list_ref_type == 'exp' %}
        liste des comentaires sur 
    {% elif list_ref_type == 'dis' %}
        liste des contestation sur 
    {% elif list_ref_type == 'opn' %}
        {% if parent.positive %}
            liste des opinions positive sur 
        {% else %}}
            liste des opinions positive sur
        {% endif %}
    {% elif list_ref_type == 'prp' %}
        liste des contre-propositions sur 
    {% endif %}
    {% if parent_type == 'law' %}
        {{parent.title}}
    {% else %}
        {% if parent.title %} {{parent.title}} {% else %} {{parent.text}} {% endif %}
        <!--  Revoir pour afficher ref.text correctement    -->
    {% endif %}
{% endblock %}

{% block script2 %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock %}


{% block intro %}
<h2> Où suis-je? </h2>
<p style="width:100%; text-align: center;"> 
    {% if parent_type == 'law' %}    <!--         The path to the Article           -->
        {% for x in listparents %}
            <span class="InDatBox BoxIntroStyle" name="{{x|lookup:2}}:{{x|lookup:1}}"><strong>  {{x|lookup:0|truncatewords:4}}  </strong></span>  >>  
        {% endfor %}
    {% elif parent_type == 'prp' %}  
        <span class="InDatBox BoxIntroStyle" name="1:{{parent.law_article.law_code.id}}"><strong>  {{ parent.law_article.law_code.title|truncatewords:4}}  </strong></span>  >>  ...  >>  <span class="GetReflection law_text" name="law:{{parent.law_article.id}}"><strong>  {{parent.law_article.title|truncatewords:4}}  </strong></span>   >>   
    {% else %}   <!--         The path to the parentlection       -->
        <span class="InDatBox BoxIntroStyle" name="1:{{law_code.id}}"><strong>  {{ law_code.title|truncatewords:4}}  </strong></span>  >>  ...  >>  
        {% for x in list_parents %}
            <span class="GetReflection {{x|lookup:0|Csstype}}" name="{{x|lookup:0}}:{{x|lookup:1}}"><strong>  {{x|lookup:2|truncatewords:4}}  </strong></span>  >>     
        {% endfor %}
    {% endif %}
    <span class="GetReflection {{parent_type|Csstype}}" name="{{parent_type}}:{{parent_id}}">
    {% if parent.title %}    
        {{parent.title|truncatewords:8}}
    {% else %}
        {{parent.text|safe|truncatewords:8}}
    {% endif %}
    </span>  >>  
    <span class="{{list_ref_type|Csstype}}"> 
    {% if list_ref_type == 'qst' %}
        Liste des questions
    {% elif list_ref_type == 'prp' %}
        Liste des propositions
    {% elif list_ref_type == 'exp' %}
        Liste des commentaires
    {% elif list_ref_type == 'opp' %}
        Liste des points positifs
    {% elif list_ref_type == 'opn' %}
        Liste des points négatifs
    {% endif %}    
    </span>
</p>

{% endblock %}


{% block content %}
{% autoescape off %}

<!--############################################################################################
############################      The Parent Reflection       ##################################
#############################################################################################-->

    {% if parent_type == 'law' %}  
            <!--         The Law article           -->
        <section class="law_text">
            <h1>{{parent.law_code.title}}</h1> 
                <h2>{{parent.title}}</h2>
                    {{parent.text_law|safe}} 

    {% else %}
            <!--         The Others         -->
        {% if parent_type == 'qst' %} 
            <section class="question">
                <h1> Question à propos de: 
        {% elif parent_type == 'exp' %}
            <section class="explaination">
                <h1> Commentaire/explication à propos de:
        {% elif parent_type == 'dis' %}
            <section class="disclaim">
                <h1> démentis/contradiction sur:  
        {% elif tparent_type == 'opn' %}
            {% if parent.positive %}
                <section class="posopinon">
                    <h1> point fort sur: 
            {% else %}
                <section class="negopinon">
                    <h1> point faible sur: 
            {% endif %}
        {% elif parent_type == 'prp' %}
            <section class="proposition">
                <h1> Contre proposition à: 
        {% endif %} 
                {% if parent.content_object.title %}  
                    {{parent.content_object.title}} 
                {% else %}
                    {% if parent.content_object.text_opp %} 
                        {{parent.content_object.text_opp|safe}}
                    {% elif parent.content_object.text_opn %} 
                        {{parent.content_object.text_opn|safe}} 
                    {% elif parent.content_object.text_dis %} 
                        {{parent.content_object.text_dis|safe}}
                    {% elif parent.content_object.text_exp %} 
                        {{parent.content_object.text_exp|safe}}
                    {% elif parent.content_object.text_prp %} 
                        {{parent.content_object.text_prp|safe}} 
                    {% elif parent.content_object.text_qst %} 
                        {{parent.content_object.text_qst|safe}}
                    {% endif %}
                {% endif %}</h1>    
                {% if parent.title %}    
                    <h2>{{parent.title}}</h2>
                    {% if parent_type == 'qst' %}
                        <p>{{parent.text_qst|safe}}</p>
                    {% elif parent_type == 'exp' %}
                        <p>{{parent.text_exp|safe}}</p>
                    {% elif parent_type == 'opn' %}
                        <p>{{parent.text_opn|safe}}</p>
                    {% elif parent_type == 'opp' %}
                        <p>{{parent.text_opp|safe}}</p>
                    {% elif parent_type == 'prp' %}
                        <p>{{parent.text_prp|safe}}</p>
                    {% endif %}
                {% else %}
                    {% if parent_type == 'qst' %}
                        <h2>{{parent.text_qst|safe}}</h2>
                    {% elif parent_type == 'exp' %}
                        <h2>{{parent.text_exp|safe}}</h2>
                    {% elif parent_type == 'opn' %}
                        <h2>{{parent.text_opn|safe}}</h2>
                    {% elif parent_type == 'opp' %}
                        <h2>{{parent.text_opp|safe}}</h2>
                    {% elif parent_type == 'prp' %}
                        <h2>{{parent.text_prp|safe}}</h2>
                    {% endif %}
                {% endif %}
    {% endif %}
                <br>   
                <p class="count">
                    <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{parent.nb_q}}
                    <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{parent.nb_exp}} 
                </p>
                <p class="vote">   |
                    <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="{{parent_type}}:{{x.id}}" value="UP"/>
                    <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="{{parent_type}}:{{x.id}}" value="DOWN"/>
                    note:
                    <canvas id="don{{parent_type}}{{x.id}}" name="{{parent.approval_ratio}}" class="donut" style="display:inline"></canvas>
                </p>
            </section>


<!--############################################################################################
##################################      The Children       #####################################
#############################################################################################-->
    {% if list_ref_type == 'qst' %}
        <section class="question">
            <style type="text/css" media="screen">
                .question{width: auto;}    
            </style>
            <h2>Liste complète des questions</h2>
    {% elif list_ref_type == 'prp' %}
        <section class="proposition">
            <h2>Liste complète des propositions</h2>
    {% elif list_ref_type == 'exp' %}
        <section class="explaination">
            <style type="text/css" media="screen">
                .explaination{width: auto;}    
            </style>
            <h2>Liste complète des commentaires</h2>
    {% elif list_ref_type == 'opp' %}
        <section class="posopinion">
            <style type="text/css" media="screen">
                .posopinion{width: auto;}    
            </style>
            <h2>Liste complète des points positifs</h2>
    {% elif list_ref_type == 'opn' %}
        <section class="negopinion">
            <style type="text/css" media="screen">
                .negopinion{width: auto;}    
            </style>
            <h2>Liste complète des points négatifs</h2> 
    {% endif %}                
        <p>
            <table>
                <tbody>
                    {% for x in list_to_display %}
                        <tr>
                            {% if list_ref_type == 'qst' %}
                                <td class="question"> 
                                    <div class='clickable GetReflection' name='qst:{{x.id}}'>
                            {% elif list_ref_type == 'prp' %}
                                <td class="proposition"> 
                                    <div class='clickable GetReflection' name='prp:{{x.id}}'>
                            {% elif list_ref_type == 'exp' %}
                                <td class="explaination"> 
                                    <div class='clickable GetReflection' name='exp:{{x.id}}'>
                            {% elif list_ref_type == 'opp' %}
                                <td class="posopinion"> 
                                    <div class='clickable GetReflection' name='opp:{{x.id}}'>
                            {% elif list_ref_type == 'opn' %}
                                <td class="negopinion"> 
                                    <div class='clickable GetReflection' name='opn:{{x.id}}'>
                            {% endif %}      
                                
                                {% if x.title%}
                                    {{x.title}} <br/>
                                    {% if list_ref_type == 'qst' %}
                                        {{x.text_qst|safe|truncatewords:250}} <br/>
                                    {% elif list_ref_type == 'prp' %}
                                        {{x.text_prp|safe|truncatewords:250}} <br/>
                                    {% elif list_ref_type == 'exp' %}
                                        {{x.text_exp|safe|truncatewords:250}} <br/>
                                    {% elif list_ref_type == 'opp' %}
                                        {{x.text_opp|safe|truncatewords:250}} <br/>
                                    {% elif list_ref_type == 'opn' %}
                                        {{x.text_opn|safe|truncatewords:250}} <br/>
                                    {% endif %}      
                                {% else %}
                                    {% if list_ref_type == 'qst' %}
                                        {{x.text_qst|safe}} <br/>
                                    {% elif list_ref_type == 'prp' %}
                                        {{x.text_prp|safe}} <br/>
                                    {% elif list_ref_type == 'exp' %}
                                        {{x.text_exp|safe}} <br/>
                                    {% elif list_ref_type == 'opp' %}
                                        {{x.text_opp|safe}} <br/>
                                    {% elif list_ref_type == 'opn' %}
                                        {{x.text_opn|safe}} <br/>
                                    {% endif %}  
                                {% endif %}
                                </div>
                                <div class="count">
                                    <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                    <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                    {% if list_ref_type == 'prp' %}
                                        <img src="{% static 'icons/opv2.png' %}" alt="opp" class="icn"> {{x.nb_posop}}
                                        <img src="{% static 'icons/opx2.png' %}" alt="opn" class="icn"> {{x.nb_negop}}
                                    {% endif %}
                                </div>
                                <div class="vote">
                                    {% if list_ref_type == 'qst' %}
                                        <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="qst:{{x.id}}" value="UP"/>
                                        <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="qst:{{x.id}}" value="DOWN"/>
                                        note:
                                        <canvas id="donqst{{x.id}}" name="{{x.approval_ratio}}" class="donut" style="display:inline"></canvas>
                                    {% elif list_ref_type == 'prp' %}
                                        <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="prp:{{x.id}}" value="UP"/>
                                        <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="prp:{{x.id}}" value="DOWN"/>
                                        note:
                                        <canvas id="donprp{{x.id}}" name="{{x.approval_ratio}}" class="donut" style="display:inline"></canvas>
                                    {% elif list_ref_type == 'exp' %}
                                        <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="exp:{{x.id}}" value="UP"/>
                                        <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="exp:{{x.id}}" value="DOWN"/>
                                        note:
                                        <canvas id="donexp{{x.id}}" name="{{x.approval_ratio}}" class="donut" style="display:inline"></canvas>
                                    {% elif list_ref_type == 'opp' %}
                                        <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opp:{{x.id}}" value="UP"/>
                                        <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opp:{{x.id}}" value="DOWN"/>
                                        note:
                                        <canvas id="donopp{{x.id}}" name="{{x.approval_ratio}}" class="donut" style="display:inline"></canvas>
                                    {% elif list_ref_type == 'opn' %}
                                        <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opn:{{x.id}}" value="UP"/>
                                        <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opn:{{x.id}}" value="DOWN"/>
                                        note:
                                        <canvas id="donopn{{x.id}}" name="{{x.approval_ratio}}" class="donut" style="display:inline"></canvas>
                                    {% endif %} 
                                </div>
                        </tr>
                    {% empty %}
                        Aucune réflection pour le moment.
                    {% endfor %}
                </tbody>
            </table>
        </p>      
        </section>
 
{% endautoescape %}
{% endblock %}