{% extends "base_CYL.html" %}
{% load static %}
{% load widget_tweaks %}
{% load special_filters %}
<!-- *o* -->

{% block intro %}
{% if typeform == "lawf" %}
    <h1> Où suis-je? </h1>
    <p>
        {% for x in listparents %}
            <var class= "InDatBox BoxIntroStyle" name="{{x|lookup:2}}:{{x|lookup:1}}"><strong> {{x|lookup:0|truncatewords:4}}  </strong></var>  >>     
        {% endfor %}
        {{Box.title}}
    </p>
{% endif %}
{% endblock %}
<!-- *X* -->
<!-- *_* -->
{% block content %}
{% if typeform == "lawf" %}
    <form action="{% url 'ValidNewLaw'%}"  method="post" id="Newlaw{{box_id}}" name="box:{{typeform}}:{{box_id}}">
{% else %}
    <form action="{% url 'PostReflection'%}"  method="post" id="{{typeref}}form{{idref}}" class="{{typeform}}type" name="{{typeref}}:{{typeform}}:{{ref.id}}">
{% endif %}
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
    {% endif %}
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}

            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}

            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
    {% endfor %}
    {% if typeform == "lawf" %}
        <input type="hidden" name="box_id" value="{{box_id}}">
        <input type="hidden" name="box_type" value="{{box_type}}">
        <input type="hidden" name="typeform" value="lawf">
        <input type="hidden" name="typeref" value="">
    {% else %}
        <input type="hidden" name="typeform" value="{{typeform}}f">
        <input type="hidden" name="typeref" value="{{typeref}}">
        <input type="hidden" name="ref_id" value="{{idref}}">
    {% endif %}
    {% if IsModif %}
        <input type="hidden" name="IsModif" value="True">
        <input type="hidden" name="idform" value="{{idform}}">
    {% else %}
        <input type="hidden" name="IsModif" value="">
    {% endif%}
<button type="submit" class="but{{typeform}}" name="{{typeform}}form{{idref}}"> Envoyer </button>
{% if IsModif %}
    <button class="but{{typeform}}" id="Cancel{{typeform}}{{idform}}form"> Annuler </button>
{% endif%}
</form>
{% endblock %}
<!-- *U* -->