{% extends "base_CYL.html" %}
{% load widget_tweaks %}
{% load special_filters %}
{% load static %}

{% block script2 %}
    <script type="text/javascript" src="{% static 'js/jBox.all.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/jBox.all.min.css' %}" />
{% endblock %}


{% block intro %}
<nav aria-label="breadcrumb" style="width:100%; padding:0.5%;"> 
    {% if typeref == 'law' %}    <!--         The path to the Article           -->
        {% for x in listparents %}
            <span class="InDatBox BoxIntroStyle" name="{{x|lookup:2}}:{{x|lookup:1}}" href="/CYL/InDatBox/{{x|lookup:2}}/{{x|lookup:1}}"><strong>  {{x|lookup:0|truncatewords:4|truncatechars:20}}  </strong></span>  >>  
        {% endfor %}
    {% elif typeref == 'prp' %}  
        <span class="InDatBox BoxIntroStyle" name="1:{{ref.law_article.law_code.id}}"><strong>  {{ ref.law_article.law_code.title|truncatewords:4|truncatechars:20}}  </strong></span>  >>  ...  >>  <span class="GetReflection law_text RefIntroStyle" name="law:{{ref.law_article.id}}"><strong>  {{ref.law_article.title|truncatewords:4|truncatechars:20}}  </strong></span>   >>   
    {% else %}   <!--         The path to the reflection       -->
        <span class="InDatBox BoxIntroStyle" name="1:{{law_code.id}}"><strong>  {{ law_code.title|truncatewords:4|truncatechars:20}}  </strong></span>  >>  ...  >>  
        {% for x in list_parents %}
            <span class="GetReflection {{x|lookup:0|Csstype}} RefIntroStyle" name="{{x|lookup:0}}:{{x|lookup:1}}"><strong>  {{x|lookup:2|truncatewords:4|truncatechars:20}}  </strong></span>  >>     
        {% endfor %}
    {% endif %}
    <span class="{{typeref|Csstype}} RefIntroStyle">
    {% if ref.title %}    
        {{ref.title|truncatewords:5|truncatechars:20}}
    {% else %}
        {{ref.text|safe|truncatewords:5|truncatechars:20}}
    {% endif %}
    </span>
</nav>
{% endblock %}

<br>

{% block content %}
{% autoescape off %}

<span id="CommitDialog" name="{{typeref}}:{{ref.id}}"></span>


<!--##########################################################################################
##################################      The Reflection       #################################
###########################################################################################-->

<br>
{% if typeref == 'law' %}  
        <!--         The Law article           -->
    {% if ref.is_lwp %}
        <section id="RefCaracteristics" class="lwp_section">
        {% if user.is_authenticated %}
            <div class="dropdown">
                <a class="nav-link dropdown-toggle SmallMenu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">options</a>
                <div class="dropdown-menu RefSetMenu">
                    {% if user == ref.author %}
                        <a class="DelOwnRef dropdown-item" name="del:law:{{ref.id}}">supprimer</a> 
                        {% if ref.block == None%}
                            <a class="CreateNewLaw dropdown-item" name="D:{{ref.law_code.id}}:{{ref.id}}">Modifier</a>
                        {%else%}
                            <a class="CreateNewLaw dropdown-item" name="E:{{ref.block.id}}:{{ref.id}}">Modifier</a>
                        {% endif %}
                    {% else %}
                        <a class="ReportRef dropdown-item" name="rpt:law:{{ref.id}}">Signaler</a>
                    {% endif %}
                </div>
            </div><br>
        {% endif %}
    {% else %}
        <section id="RefCaracteristics" class="law_section">
    {% endif %}
    <h1>{{ref.law_code.title}}</h1> 
        <h2>{{ref.title}}</h2>
        <p>{{ref.text_law|safe}}</p>
        <br>
{% else %}

        <!--         The Others         -->
    {% if typeref == 'qst' %} 
            <h2> Question à propos de: 
    {% elif typeref == 'exp' %}
            <h2> Commentaire/explication à propos de:
    {% elif typeref == 'opp' %}
            <h2> point fort sur: 
    {% elif typeref == 'opn' %}
            <h2> point faible sur: 
    {% elif typeref == 'prp' %}
            <h2> Contre proposition à: 
    {% endif %} 
    <span class="GetReflection" name="{{fstparent|lookup:0}}:{{fstparent|lookup:1}}"> 
    {% if ref.content_object.title %}  
        {{ref.content_object.title}} 
    {% else %}
        {% if ref.content_object.text_opp %} 
            {{ref.content_object.text_opp|safe}}
        {% elif ref.content_object.text_opn %} 
            {{ref.content_object.text_opn|safe}}
        {% elif ref.content_object.text_exp %} 
            {{ref.content_object.text_exp|safe}}
        {% elif ref.content_object.text_prp %} 
            {{ref.content_object.text_prp|safe}}
        {% elif ref.content_object.text_qst %} 
            {{ref.content_object.text_qst|safe}}
        {% endif %}
    {% endif %}</span></h1>
            {% if typeref == 'qst' %} 
        <section id="RefCaracteristics" class="question"> 
    {% elif typeref == 'exp' %}
        <section id="RefCaracteristics" class="explaination">
    {% elif typeref == 'opp' %}
        <section id="RefCaracteristics" class="posopinion">
    {% elif typeref == 'opn' %}
        <section id="RefCaracteristics" class="negopinion">
    {% elif typeref == 'prp' %}
        <section id="RefCaracteristics" class="proposition">
    {% endif %}
    {% if user.is_authenticated %}
        <div class="dropdown">
            <a class="nav-link dropdown-toggle SmallMenu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">options</a>
            <div class="dropdown-menu RefSetMenu">
                {% if user == ref.author %}
                    <a class="DelOwnRef dropdown-item" name="del:{{typeref}}:{{ref.id}}">supprimer</a> 
                    <a class="ModifRef dropdown-item" name="modif:{{typeref}}:{{ref.id}}">Modifier</a>
                {% else %}
                    <a class="ReportRef dropdown-item" name="rpt:{{typeref}}:{{ref.id}}">Signaler</a>
                {% endif %}
            </div>
        </div><br> 
    {% endif %}
    {% if ref.title %}    
        <h2>{{ref.title}}</h2>
        {% if typeref == 'qst' %}
            <p>{{ref.text_qst|safe}}</p>
        {% elif typeref == 'exp' %}
            <p>{{ref.text_exp|safe}}</p>
        {% elif typeref == 'opp' %}
            <p>{{ref.text_opp|safe}}</p>
        {% elif typeref == 'opn' %}
            <p>{{ref.text_opn|safe}}</p>
        {% elif typeref == 'prp' %}
            <p>{{ref.text_prp|safe}}</p>
            <br>
            <h3>But recherché par cette contre-proposition:</h3>
            <br>
            <p>{{ref.details_prp}}</p>
        {% endif %}
        <br>
    {% else %}
        {% if typeref == 'qst' %}
            <h2>{{ref.text_qst|safe}}</h2>
        {% elif typeref == 'exp' %}
            <h2>{{ref.text_exp|safe}}</h2>
        {% elif typeref == 'opp' %}
            <h2>{{ref.text_opp|safe}}</h2>
        {% elif typeref == 'opn' %}
            <h2>{{ref.text_opn|safe}}</h2>
        {% elif typeref == 'prp' %}
            <h2>{{ref.text_prop|safe}}</h2>
        {% endif %}
    {% endif %}
{% endif %}
    <p class="count"> <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{ref.nb_q}}
    <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{ref.nb_exp}} 
    </p>
    <p class="vote">
        {% if user.is_authenticated %}
            <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="{{typeref}}:{{ref.id}}" value="UP"/>
            <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="{{typeref}}:{{ref.id}}" value="DOWN"/>
        {% endif %}
            note:
        <canvas id="don{{typeref}}{{ref.id}}" name="{{ref.approval_ratio}}" class="donut" style="display:inline"></canvas>
    </p>
</section>
<br>
<br>

<article class="Interact">
    <script type="text/javascript" src="{% static 'js/jsdiff.js' %}"></script>
    {% include 'Interact.html' %}
</article>
<br>
<br>
<br>
<br>
<br>

{% endautoescape %}
<!--
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script> -->
{% endblock %}

