{% extends "base_CYL.html" %}
{% load static %}
{% load special_filters %}

{% block title %}{{Box.title}}{% endblock %}

{% block intro %}
    <!--         The path to the Article           -->
   <nav aria-label="breadcrumb" style="width:100%; padding:0.5%;">
        {% for x in listparents %}
            <var class= "InDatBox BoxIntroStyle" name="{{x|lookup:2}}:{{x|lookup:1}}"><strong> {{x|lookup:0|truncatewords:4|truncatechars:20}}</strong></var>  >>     
        {% endfor %}
        <label class="BoxIntroStyle">{{Box.title}}</label>
    </nav>
{% endblock %}

<br>

{% block content %}
    <article style="padding-right:2%;"> 
        <br>
        <h1>{{Box.title}}</h1>
            <p>
                {% block getlist %}
                <ul style="list-style:none;">
                {% for x in lqs %}
                    <li>
                    {% if x|isinst:'CreateYourLaws.models.LawArticle' %}
                        {% if x.is_lwp %}
                            <div class="IDB GetReflection lwp_text" name="law:{{x.id}}">
                        {% else %}
                            <div class="IDB GetReflection law_text" name="law:{{x.id}}">
                        {% endif %}
                        <!--
                        {% if user.is_authenticated %}
                            <label class="suscribe" id="checklaw{{x.id}}"><input type="checkbox" name="checklaw{{x.id}}">s'abonner</label>
                        {% endif %}-->
                        {% autoescape off %}
                            <strong>{{x.title}}</strong><br>
                            <p>{{x.text_law}}</p>
                            </a><br/><br/>
                        {% endautoescape %}
                        </div>
                    {% else %}
                        <div class="InDatBox" name="2:{{x.id}}">
                            <!--{% if user.is_authenticated %}
                                <label class="suscribe"><input type="checkbox" id="checkbox{{x.id}}">s'abonner</label>
                            {% endif %}-->
                            <p style="color: navy; font-weight:bold;"><strong>{{x.title}}</strong><br/></p>
                        </div>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% endblock getlist %}
            </p>
    <br>
    <hr>
    {% if HasLawProp %}
        <p class="GetNewLawProps" id="{{box_type}}NLPbox{{box_id}}"> Voir les propositions de nouvelles lois pour cet emplacement </p>
    {% endif %}
    {% if HasBlocProp %}
        <p class="GetCodeBlocProps" id="CBPbox:{{box_type}}:{{box_id}}"> Voir les rautres propositions de groupement de lois à cet emplacement </p>
    {% endif %}
    </article>
{% endblock content%}