{% load static %}
{% load special_filters %}
{% load widget_tweaks %}

<ul class="nav nav-tabs">
    {% if typeref == 'prp' or typeref == 'law'%}
        <li class="nav-item">
            <a class="nav-link active opptab opntab"  data-toggle="tab" href="#{{typeref}}arguments{{id_ref}}">Arguments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link prptab" data-toggle="tab" href="#{{typeref}}propsection{{id_ref}}">Ammendements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link exptab qsttab" data-toggle="tab" href="#{{typeref}}debate{{id_ref}}">Discussion</a>
        </li>
        <li class="nav-item HistoryTab">
            <a class="nav-link tlntab" data-toggle="tab" href="#{{typeref}}Timeline{{id_ref}}">Historique</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link exptab qsttab active" data-toggle="tab" href="#{{typeref}}debate{{id_ref}}">Discussion</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link srctab" data-toggle="tab" href="#{{typeref}}SourceLinks{{id_ref}}">Liens / Sources de réflections</a>
    </li>
</ul>

<!--############################################################################################
################################      The arguments       ###################################
#############################################################################################-->

<section class="tab-content">
    <br>
    {% if typeref == 'prp' or typeref == 'law'%}
    <div id="{{typeref}}arguments{{id_ref}}" class="UpSection tab-pane active show">
            <article class="Bigposopinion UpSection" id="posopsection">
                <h2>Points positifs</h2>
                <table>
                    {% for x in listposop %}
                        <tr>
                            <td id="opptd{{x.id}}" class="posopinion"> 
                                {% if user.is_authenticated %}
                                    <div class="dropdown">
                                        <a class="nav-link dropdown-toggle SmallMenu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">options</a>
                                        <div class="dropdown-menu RefSetMenu">
                                            {% if user == x.author %}
                                                <a class="DelOwnRef dropdown-item" name="del:opp:{{x.id}}">supprimer</a> 
                                                <a class="ModifRef dropdown-item" name="modif:opp:{{x.id}}:{{typeref}}:{{ref.id}}">Modifier</a>
                                            {% else %}
                                                <a class="ReportRef dropdown-item" name="rpt:opp:{{x.id}}">Signaler</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class='clickable GetReflection' name='opp:{{x.id}}'>
                                {% if x.title%}
                                    <b>{{x.title}}</b> <br/>
                                    {{x.text_opp|safe|truncatewords:250}}
                                {% else %}
                                    {{x.text_opp|safe}}
                                {% endif %}
                                </div>
                                <div class="count">
                                <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                </div>
                                <div class="vote">
                                <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opp:{{x.id}}" value="UP"/>
                                <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opp:{{x.id}}" value="DOWN"/>
                                    note:
                                <canvas id="donopp{{x.id}}" name="{{x.approval_ratio}}" class="donut" style="display:inline"></canvas>
                                </div>
                                {% comment %}
                                <span id="opn{{x.id}}">{{x.approval_ratio|floatformat:2}}</span> % d'approbation {% endcomment %}
                            </td>
                        </tr>
                    {% empty %}
                        Aucun point positif n'a été relevé pour le moment sur cette réflection. Soyez le premier à en donner un!
                    {% endfor %}
                </table>
                {% if user.is_authenticated %}
                    <div id='pos{{x.id}}comments'>
                        <button class="butopp" type="button"> Ajouter un point positif <br> sur cette loi</button>
                        <form action="{% url 'PostReflection'%}" method="post" id="oppform" class="opptype" name="law:oppf:{{ref.id}}">
                            {% csrf_token %}
                            {% for hidden_field in oppform.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}
                            {% if oppform.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in oppform.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% for field in oppform.visible_fields %}
                                <div class="form-group">
                                    {{ field.label_tag }}

                                    {% if oppform.is_bound %}
                                        {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class="form-control" %}
                                    {% endif %}

                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <input type="hidden" name="typeform" value="oppf">
                            <input type="hidden" name="typeref" value="{{typeref}}">
                            <input type="hidden" name="ref_id" value="{{ref.id}}">
                            <input type="hidden" name="IsModif" value="">
                            <button type="submit" class="posopinion" name="btnoppform">Poster le point de vue</button>
                        </form>
                    </div>
                {% endif %}    
            </article>


            <article class="Bignegopinion UpSection" id="negopsection">
                <h2>Points négatifs</h2>
                <div id="negopdiv">
                    <table>
                    
                        {% for x in listnegop %}
                            <tr>
                                <td id="opntd{{x.id}}" class="negopinion">
                                    {% if user.is_authenticated %}
                                        <div class="dropdown">
                                            <a class="nav-link dropdown-toggle SmallMenu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">options</a>
                                            <div class="dropdown-menu  RefSetMenu">
                                                {% if user == x.author %}
                                                    <a class="DelOwnRef dropdown-item" name="del:opn:{{x.id}}">supprimer</a> 
                                                    <a class="ModifRef dropdown-item" name="modif:opn:{{x.id}}:{{typeref}}:{{ref.id}}">Modifier</a>
                                                {% else %}
                                                    <a class="ReportRef dropdown-item" name="rpt:opn:{{x.id}}">Signaler</a>
                                                {% endif %}
                                            </div>
                                        </div> 
                                    {% endif %}                                               
                                    <div class='clickable GetReflection' name='opn:{{x.id}}'>
                                    {% if x.title%}
                                        <b>{{x.title}}</b><br/>
                                        {{x.text_opn|safe|truncatewords:250}}
                                    {% else %}
                                        {{x.text_opn|safe}}
                                    {% endif %}
                                    </div>
                                    <div class="count">
                                        <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                                        <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}}
                                    </div>
                                    <div class="vote">
                                        <input type="image" src="{% static 'icons/thumbs_up.png' %}" class="UP" name="opn:{{x.id}}" value="UP"/>
                                        <input type="image" src="{% static 'icons/thumbs_down.png' %}" class="DOWN" name="opn:{{x.id}}" value="DOWN"/>
                                        note:
                                        <canvas id="donopn{{x.id}}" name="{{x.approval_ratio}}" class="donut" style="display:inline"></canvas>
                                    </div>
                                    {% comment %}
                                    <span id="opn{{x.id}}">{{x.approval_ratio|floatformat:2}}</span> % d'approbation {% endcomment %}
                                </td>
                            </tr>
                        {% empty %}
                            Aucun point négatif n'a été relevé pour le moment sur cette réflection. Soyez le premier à en donner un! 
                        {% endfor %}
                    </table> 
                </div>
                {% if user.is_authenticated %}
                    <div id='neg{{x.id}}comments'>
                        <button class="butopn" type="button"> Ajouter un point négatif <br> sur cette loi </button>
                        <form action="{% url 'PostReflection'%}" method="post" id="opnform" class="opntype" name="law:opnf:{{ref.id}}">
                            {% csrf_token %}
                            {% for hidden_field in opnform.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}
                            {% if opnform.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in opnform.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% for field in opnform.visible_fields %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {% if opnform.is_bound %}
                                        {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class="form-control" %}
                                    {% endif %}

                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <input type="hidden" name="typeform" value="opnf">
                            <input type="hidden" name="typeref" value="{{typeref}}">
                            <input type="hidden" name="ref_id" value="{{ref.id}}">
                            <input type="hidden" name="IsModif" value="">
                            <button type="submit" class="negopinion" name="btnopnform">Poster le point de vue</button>
                        </form>     
                    </div>
                {% endif %}    
            </article>
    </div>
    {% endif %}

    <!--############################################################################################
    ################################      The propositions       ###################################
    #############################################################################################-->

    {% if typeref == 'law' or typeref == 'prp' %}
    <div class="UpSection tab-pane" id="{{typeref}}propsection{{id_ref}}">  {% comment %}PostReflection must be update if this line is modified {% endcomment %}
        <h2>Autres propositions de lois pour cette réflection</h2>
        <table>
            {% for x in listpropositions %}
                <tr>
                    <td id="prptd{{x.id}}" class="proposition">
                        {% if user.is_authenticated %}
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle SmallMenu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">options</a>
                                <div class="dropdown-menu  RefSetMenu">
                                    {% if user == x.author %}
                                        <a class="DelOwnRef dropdown-item" name="del:prp:{{x.id}}">supprimer</a> 
                                        <a class="ModifRef dropdown-item" name="modif:prp:{{x.id}}:{{typeref}}:{{ref.id}}">Modifier</a>
                                    {% else %}
                                        <a class="ReportRef dropdown-item" name="rpt:prp:{{x.id}}">Signaler</a>
                                    {% endif %}
                                    <a class="GetHistory dropdown-item" name="hst:prp:{{x.id}}">historique</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="IDB GetReflection" name="prp:{{x.id}}">

                            {% if x.title %}
                                <strong><b>{{x.title}}</b></strong> <br/>
                                {{x.text_prp|safe|truncatewords:80}} <br/>
                            {% else %}
                                <strong>{{x.text_prp|safe}}</strong> <br/>
                            {% endif %}
                            <label class="RefNote">Note:</label><br/>{{x.details_prp}}
                        </div>
                        <div class="count">
                        <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                        <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}} 
                        <img src="{% static 'icons/opv2.png' %}" alt="opp" class="icn"> {{x.nb_posop}}
                        <img src="{% static 'icons/opx2.png' %}" alt="opn" class="icn"> {{x.nb_negop}}
                        </div>
                        <div class="vote">
                        <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="prp:{{x.id}}" value="UP"/>
                        <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="prp:{{x.id}}" value="DOWN"/>
                            note:
                        <canvas id="donprp{{x.id}}" name="{{x.approval_ratio}}" class="donut" style="display:inline"></canvas>
                        </div>
                    </td>                   
                </tr>
            {% empty %}
            Aucune contre-proposition n'a été faite pour le moment sur cette réflection.<br>
            Soyez le premier à en faire un!
            {% endfor %}
        </table> 
        {% if user.is_authenticated %}
            <div id='prp{{x.id}}comments'>
                <button class="butprp" type="button">Faire une autre proposition <br>  que cette loi</button>
                <form action="{% url 'PostReflection'%}"  method="post" id="prpform" class="prptype" name="law:prpf:{{ref.id}}">
                    {% csrf_token %}
                    {% for hidden_field in prpform.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {% if prpform.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in prpform.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for field in prpform.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% if prpform.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}

                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="typeform" value="prpf">
                    <input type="hidden" name="typeref" value="{{typeref}}">
                    <input type="hidden" name="ref_id" value="{{ref.id}}">
                    <input type="hidden" name="IsModif" value="">
                    <button type="submit" class="butprp" name="prpform">Poster votre proposition </button>
                </form> 
            </div>
        {% endif %}
    </div>
           
    {% endif %}

    <!--############################################################################################
    ######################################     the Debate      #####################################
    #############################################################################################-->
    {% if typeref == 'law' or typeref == 'prp' %}
        <div id="{{typeref}}debate{{id_ref}}" class="UpSection tab-pane">
    {% else %}
        <div id="{{typeref}}debate{{id_ref}}" class="UpSection tab-pane active show">
    {% endif %}
        <table>    
            {% for x in listcom %}
            <tr>
                {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                    <td id="exptd{{x.id}}" class="explaination" style="text-align:center;"> {% comment %} <div class="IDB GetReflection" name="exp:{{x.id}}"> {% endcomment %} 
                        {% if user.is_authenticated %}
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle SmallMenu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">options</a>
                                <div class="dropdown-menu  RefSetMenu">
                                    {% if user == x.author %}
                                        <a class="DelOwnRef dropdown-item" name="del:exp:{{x.id}}">supprimer</a> 
                                        <a class="ModifRef dropdown-item" name="modif:exp:{{x.id}}:{{typeref}}:{{ref.id}}">Modifier</a>
                                    {% else %}
                                        <a class="ReportRef dropdown-item" name="rpt:exp:{{x.id}}">Signaler</a>
                                    {% endif %}
                                </div>
                            </div> 
                        {% endif %}
                        <div style="text-align:left;">
                        {% if x.title %}
                            <strong><b>{{x.title}}</b></strong><br>
                            {{x.text_exp|safe|truncatewords:80}}
                        {% else %}
                            <strong>{{x.text_exp|safe}}</strong>
                        {% endif %}
                        </div>
                {% else %}
                    <td id="qsttd{{x.id}}" class="question" style="text-align:center;">  {% comment %} <div class="IDB GetReflection" name="qst:{{x.id}}"> {% endcomment %}
                        {% if user.is_authenticated %}
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle SmallMenu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">options</a>
                                <div class="dropdown-menu  RefSetMenu">
                                    {% if user == x.author %}
                                        <a class="DelOwnRef dropdown-item" name="del:qst:{{x.id}}">supprimer</a> 
                                        <a class="ModifRef dropdown-item" name="modif:qst:{{x.id}}:{{typeref}}:{{ref.id}}">Modifier</a>
                                    {% else %}
                                        <a class="ReportRef dropdown-item" name="rpt:qst:{{x.id}}">Signaler</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        <div style="text-align:left;">
                        {% if x.title %}
                            <strong><b>{{x.title}}</b></strong><br>
                            {{x.text_qst|safe|truncatewords:80}}
                        {% else %}
                            <strong>{{x.text_qst|safe}}</strong> 
                        {% endif %}
                        </div>
                {% endif %} 
                <br> 
                <div style="display: inline;">       
                    <div class="count">
                        <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                        <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}} 
                    </div>
                    <div class="vote">
                    {% if x|isinst:'CreateYourLaws.models.Explaination' %}   
                        <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="exp:{{x.id}}" value="UP"/>
                        <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="exp:{{x.id}}" value="DOWN"/>
                         note:
                        <canvas id="donexp{{x.id}}" name="{{x.approval_ratio}}" class="donut" style="display:inline"></canvas>
                    {% else %}
                        <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="qst:{{x.id}}" value="UP"/>
                        <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="qst:{{x.id}}" value="DOWN"/>
                        note:
                        <canvas id="donqst{{x.id}}" name="{{x.approval_ratio}}" class="donut" style="display:inline"></canvas>
                    {% endif %}
                    </div>
                </div>
                <br>
                <br>
                <hr>
                {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                    <p id="devexp{{x.id}}" style='text-align: center; display: inline;'>
                {% else %}
                    <p id="devqst{{x.id}}" style='text-align: center; display: inline;'>
                {% endif %}
                    {% if x.nb_exp != 0 or x.nb_q != 0 %}
                        {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                            <span class="GetDebateChild" name="childexp{{x.id}}" id="childexp{{x.id}}"> Voir les réactions à ce commentaire </span>
                        {% else %}
                            <span class="GetDebateChild" name="childqst{{x.id}}" id="childqst{{x.id}}"> Voir les réactions à ce commentaire </span>
                        {% endif %}
                    {% else %}
                        {% if user.is_authenticated %}
                            {% if x|isinst:'CreateYourLaws.models.Explaination' %}
                            <button class="butexp" type="button" name="exp:exp:{{x.id}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commenter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            <button class="butqst" type="button" name="exp:qst:{{x.id}}">Poser votre question </button>
                            <span id="expaskform{{x.id}}" class="tocenter UpSection"></span>
                            {% else %}
                            <button class="butexp" type="button" name="qst:exp:{{x.id}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commenter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            <button class="butqst" type="button" name="qst:qst:{{x.id}}">Poser une question </button>
                            <span id="qstaskform{{x.id}}" class="tocenter UpSection"></span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </p>
                </td>                   
            </tr>
            {% empty %}
                Aucune réaction pour le moment.
            {% endfor %}            
        </table> 
        {% if user.is_authenticated %}
            {% if typeref == 'law' or typeref == 'prp' %}
                <h3>une réaction?</h3>
            {% endif %}
            <button class="butexp" name="{{typeref}}:exp:{{id_ref}}" type="button">&nbsp;&nbsp;&nbsp;&nbsp;Commenter&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <button class="butqst" name="{{typeref}}:qst:{{id_ref}}" type="button">Poser une question </button>
            <span id="{{typeref}}askform{{id_ref}}"></span>
        {% endif %}
    </div>


    <!--############################################################################################
    ################################      The SourceLinks        ###################################
    #############################################################################################-->


    <div id="{{typeref}}SourceLinks{{id_ref}}" class="SourceBox UpSection tab-pane"> 
        <h2>Source / Liens de réfléctions</h2>
        <table>
            <tbody>
                {% for x in listsources %}
                    <tr>
                        <td id="srctd{{x.id}}" class="source">
                            {% if user.is_authenticated %}
                                <div class="dropdown">
                                    <a class="nav-link dropdown-toggle SmallMenu" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">options</a>
                                    <div class="dropdown-menu  RefSetMenu">
                                        {% if user == x.author %}
                                            <a class="DelOwnRef dropdown-item" name="del:src:{{x.id}}">supprimer</a> 
                                            <a class="ModifRef dropdown-item" name="modif:src:{{x.id}}:{{typeref}}:{{ref.id}}">Modifier</a>
                                        {% else %}
                                            <a class="ReportRef dropdown-item" name="rpt:src:{{x.id}}">Signaler</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="IDB GetReflection" name="src:{{x.id}}">
                                {% if x.title %}
                                    <strong><b>{{x.title}}</b></strong> <br/>
                                    {{x.description|truncatewords:80}} <br/>
                                {% else %}
                                    <strong>{{x.description}}</strong> <br/>
                                {% endif %}
                            </div>
                            <div class="count">
                            <img src="{% static 'icons/qst.png' %}" alt="?" class="icn"> {{x.nb_q}}
                            <img src="{% static 'icons/exp.png' %}" alt="com" class="icn"> {{x.nb_exp}} 
                            <img src="{% static 'icons/opv2.png' %}" alt="opp" class="icn"> {{x.nb_posop}}
                            <img src="{% static 'icons/opx2.png' %}" alt="opn" class="icn"> {{x.nb_negop}}
                            </div>
                            <div class="vote">
                            <input type="image" src="{% static 'icons/thumbs_up.png' %}"  class="UP" name="prp:{{x.id}}" value="UP"/>
                            <input type="image" src="{% static 'icons/thumbs_down.png' %}"  class="DOWN" name="prp:{{x.id}}" value="DOWN"/>
                                note:
                            <canvas id="donsrc{{x.id}}" name="{{x.approval_ratio}}" class="donut" style="display:inline"></canvas>
                            </div>
                        </td>                   
                    </tr>
                {% empty %}
                    <p> Aucun lien pour le moment </p>  
                {% endfor %}
            </tbody>
        </table> 
        <div id='src{{x.id}}comments'>
            {% if user.is_authenticated %}
                <button class="butsrc" type="button"> Ajouter une Source </button>
                <form action="{% url 'PostReflection'%}"  method="post" id="srcform" class="srctype" name="law:srcf:{{ref.id}}">
                    {% csrf_token %}
                    {% for hidden_field in srcform.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {% if srcform.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in srcform.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for field in srcform.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% if srcform.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}

                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="typeform" value="srcf">
                    <input type="hidden" name="typeref" value="{{typeref}}">
                    <input type="hidden" name="ref_id" value="{{ref.id}}">
                    <input type="hidden" name="IsModif" value="">
                    <button type="submit" class="butsrc" name="srcform">Poster votre source </button>
                </form> 
            {% endif %}
        </div>
    </div>


    <!--############################################################################################
    ################################      The History       ###################################
    #############################################################################################-->
    {% if typeref == 'law' or typeref == 'prp' %}
        <div class="UpSection tab-pane TimelineTab" id="{{typeref}}Timeline{{id_ref}}"> 
            {% if ref.commit.exists %}
                <script type="text/javascript" src="{% static 'js/CommitRef.js' %}"></script> 
                <div id="AddTimeLine" class="GetTimeLine clickable" name="hst:law:{{ref.id}}">passer en mode étude de l'historique </div>
                <br>
            {% else %}
                Pas d'historique pour le moment, ce texte n'a jamais été modifié depuis sa création le {{ref.posted}} 
            {% endif %}
        </div>
    {% endif %}
</section>