{% extends "TakeDecisions.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    {% autoescape off %}
    <div class="Repport jumbotron">
        <h4> Réflection signalée </h4>
        {% if Task.type_task == 1 %}
            <p> La réfléction suivante sucite un désacord:</p>
        {% elif Task.type_task == 2%}
            <p>Un autre utilisateur de la plateforme a été indigné par a réflection suivante, que vous avez émise: </p>
        {% elif Task.type_task == 3%}
            <p>Vous avez signalé la réflection suivante</p>
        {% endif %}
        <div class="card">
            <div class="RepportedRef card-body">
                {% if repport.content_object.title %}
                    <strong>{{ repport.content_object.title}}</strong>
                {% endif %} 
                {% if typeref == 'law' %} 
                    {{ repport.content_object.text_law}}
                {% elif typeref == 'qst' %} 
                    {{ repport.content_object.text_q}}
                {% elif typeref == 'exp' %}
                    {{ repport.content_object.text_exp}}
                {% elif typeref == 'opp' %}
                    {{ repport.content_object.text_opp}}
                {% elif typeref == 'opn' %}
                    {{ repport.content_object.text_opn}}
                {% elif typeref == 'prp' %}
                    {{ repport.content_object.text_prp}}
                {% endif %} 
            </div>            
        </div>
    </div>
    <div class="reason jumbotron">
        <h4> Motif</h4>
        <strong> Type de signalement:</strong>
        {{ reason }}
        <br>
        <br>
        <strong>détails: </strong>
        <div class="card">
            <div class="card-body">
                {{ repport.comments}}
            </div>
        </div>
    </div> 
    <div id="TaskAction" class="jumbotron">
        <h4> Action </h4>
        {% if Task.type_task == 1 %}
            <p> Veuillez répondre au(x) point(s) ci-dessous pour valider la décision de justice:</p>
            <form id="JugeDecisionForm" action="{% url 'PostJugeDecision' %}" method="post">
                {% csrf_token %}
                {% for field in DecisionForm %}
                    <label class="" for="{{ field.name }}"><strong>{{ field.label }}</strong></label>
                    {% if field == DecisionForm.verdict or field == DecisionForm.repport_abuse %}
                        <div class="form-group radioinline">
                            {% if field == DecisionForm.verdict %}
                                {% for radio in DecisionForm.verdict %}
                                <div class="custom-control custom-radio">
                                    {{ radio.tag}} <label for="{{ radio.id_for_label }}" class="custom-control-label">{{ radio.choice_label }}</label>
                                </div>
                                {% endfor %}
                            {% else %}
                                {% for radio in DecisionForm.repport_abuse %}
                                <div class="custom-control custom-radio">
                                    {{ radio.tag}} 
                                    <label for="{{ radio.id_for_label }}" class="custom-control-label">{{ radio.choice_label }}</label>
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div><br>
                    {%else%}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <input type="hidden" name="taskid" value="{{Task.id}}">
                <button type="submit" class="SendRepMessage btn btn-primary btn-lg">Envoyer la décision</button>
            </form>
        {% elif Task.type_task == 2 and not repport.delivered_to_jury %}
            <strong>Pensez vous que ce signalement soit recevable?</strong><br><br>
            <span>Vous êtes d'accord avec ce signalement et vous souhaitez supprimer votre réflection:</span>
            <button type="button" name="repport:{{repport.id}}" class="acceptrepport actionbtn btn btn-primary btn-lg">supprimer ma réflection</button><br>
            <br>
            <span>Vous n'êtes pas d'accord avec ce signalement et vous souhaiter qu'un jury tranche sur ce désaccord:</span>
            <button name="repport:{{repport.id}}" type="button" class="gojury actionbtn btn btn-primary btn-lg"> Appel jury</button><br>
        {% elif Task.type_task == 3 and not repport.delivered_to_jury %}
            <strong>Souhaitez vous modifier votre signalement?</strong>
            <button name="repport:{{repport.id}}" things="{{typeref}}:{{repport.object_id}}" type="button" class="modifrepport actionbtn btn btn-primary btn-lg"> modifier signalement</button><br>
            <strong>Souhaitez vous retirer votre signalement?</strong>
            <button name="repport:{{repport.id}}" type="button" class="delrepport actionbtn btn btn-primary btn-lg"> retirer signalement</button><br>
        {% else %}
            <p> Aucune action possible, le signalement a été sourmis à un jury.</p>
        {% endif %}
    </div>
    {% endautoescape %}
{% endblock %}

{% block message %}
    {% autoescape off %}
    <h4> Discussion </h4>
    <hr>
    <div style="padding:3%;padding-left:8%">
        {% for x in messages %}
            <div class="MessageWrapper">
                {% if request.user == x.author %}
                <div class="JusticeMessage MyMessage card text-white bg-primary mb-3">  
                {% else %}
                <div class="JusticeMessage OthersMessage card bg-light mb-3">
                {% endif %}
                     <div class="card-body MessageCard">
                        <span><strong>{{x.author.username}}&nbsp;&nbsp;&nbsp;</strong></span><small class="MessageDate">{{x.date}}</small>
                        <span class="card-text">{{x.message}}</span>
                    </div>
                </div>
            </div>
        {% empty %}
            Pas de messages pour le moments.
        {% endfor %}
        <hr>
        <form id="MessageForm" action="{% url 'PostRepportMessage' %}" method="post">
            {{ messageform.as_p }}
            {% csrf_token %}
            <input type="hidden" name="isjury" value="{{isjury}}">
            <input type="hidden" name="taskid" value="{{Task.id}}">
            <button type="submit" class="SendRepMessage btn btn-primary btn-lg">Envoyer message</button>
        </form>
    </div>
    {% endautoescape %}
{% endblock %}