<!DOCTYPE html>
{% extends "base.html" %}

{% load special_filters %}
{% load static %}
{% load filters %}


{% block nav %}
<style type="text/css" media="screen">
    nav{
        display: inline-block;
        width: 28%;
    } 
</style>
{% autoescape off %}
<div id="justicenav">
    <ul class="nav nav-tabs nav-justified md-tabs" id="justiceTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="AsJugeTab" data-toggle="tab" href="#AsJuge" role="tab" aria-controls="AsJuge" aria-selected="true">Justice <br> à rendre
                {% if tasks1 %}
                <span class="badge badge-primary badge-pill"> {{tasks1|length}}</span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="AgainstUserTab" data-toggle="tab" href="#AgainstUser" role="tab" aria-controls="profile-just"
          aria-selected="false">Signalements <br>contre vous
                {% if tasks2 %}
                <span class="badge badge-primary badge-pill"> {{tasks2|length}}</span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="FromUserTab" data-toggle="tab" href="#FromUser" role="tab" aria-controls="FromUser"
          aria-selected="false">Signalements <br>déposés
                {% if tasks3 %}
                <span class="badge badge-primary badge-pill"> {{tasks3|length}}</span>
                {% endif %}
            </a>
        </li>
    </ul>
    <div class="tab-content" id="justiceContents">
        <div class="tab-pane fade show active" id="AsJuge" role="tabpanel" aria-labelledby="home-tab-just">
            <div class="list-group" id="Tasklist">
                {% for x in tasks1 %}
                <div name="task:{{x.id}}" class="list-group-item list-group-item-action flex-column align-items-start JusticeTask"> <!-- active"> -->
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-2 h6">{{x.content_object.jury.repport.content_object|CreateJusticeTitle}}</h5>
                        <small>{{x.content_object.decision_asked}}</small>
                    </div>
                    {{x.content_object.jury.repport.comments|spetruncatechars:180}}
                    {% if x.content_object.jury.repport.content_object.text_opp %}
                        <small>{{x.content_object.jury.repport.content_object.text_opp|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.jury.repport.content_object.text_opn %}
                        <small>{{x.content_object.jury.repport.content_object.text_opn|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.jury.repport.content_object.text_exp %}
                        <small>{{x.content_object.jury.repport.content_object.text_exp|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.jury.repport.content_object.text_q %}
                        <small>{{x.content_object.jury.repport.content_object.text_q|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.jury.repport.content_object.text_prp %}
                        <small>{{x.content_object.jury.repport.content_object.text_prp|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.jury.repport.content_object.text_law %}
                        <small>{{x.content_object.jury.repport.content_object.text_law|CleanJT|truncatechars:80}}</small>
                    {% endif %}
                </div>
                {% empty %}
                    <p> Aucune décision à rendre pour le moment </p>  
                {% endfor %}
            </div>   
        </div>
        <div class="tab-pane fade" id="AgainstUser" role="tabpanel" aria-labelledby="profile-tab-just">
            <div class="list-group" id="Tasklist">
                {% for x in tasks2 %}
                <div name="task:{{x.id}}" class="list-group-item list-group-item-action flex-column align-items-start JusticeTask"> <!-- active"> -->
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-2 h6">{{x.content_object.content_object|CreateJusticeTitle}}</h5>
                        <small>{{x.content_object.date_open}}</small>
                    </div>
                    {{x.content_object.comments|spetruncatechars:180}}
                    {% if x.content_object.content_object.text_opp %}
                        <small>{{x.content_object.content_object.text_opp|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.content_object.text_opn %}
                        <small>{{x.content_object.content_object.text_opn|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.content_object.text_exp %}
                        <small>{{x.content_object.content_object.text_exp|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.content_object.text_q %}
                        <small>{{x.content_object.content_object.text_q|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.content_object.text_prp %}
                        <small>{{x.content_object.content_object.text_prp|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.content_object.text_law %}
                        <small>{{x.content_object.content_object.text_law|CleanJT|truncatechars:80}}</small>
                    {% endif %}
                </div>
                {% empty %}
                    <p> Aucun signalement à votre encontre pour le moment </p>
                {% endfor %}
            </div>   
        </div>
        <div class="tab-pane fade" id="FromUser" role="tabpanel" aria-labelledby="contact-tab-just">
            <div class="list-group" id="Tasklist">
                {% for x in tasks3 %}
                <div name="task:{{x.id}}" class="list-group-item list-group-item-action flex-column align-items-start JusticeTask"> <!-- active"> -->
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-2 h6">{{x.content_object.content_object|CreateJusticeTitle}}</h5>
                        <small>{{x.content_object.date_open}}</small>
                    </div>
                    {{x.content_object.comments|spetruncatechars:180}}
                    {% if x.content_object.content_object.text_opp %}
                        <small>{{x.content_object.content_object.text_opp|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.content_object.text_opn %}
                        <small>{{x.content_object.content_object.text_opn|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.content_object.text_exp %}
                        <small>{{x.content_object.content_object.text_exp|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.content_object.text_q %}
                        <small>{{x.content_object.content_object.text_q|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.content_object.text_prp %}
                        <small>{{x.content_object.content_object.text_prp|CleanJT|truncatechars:80}}</small>
                    {% elif x.content_object.content_object.text_law %}
                        <small>{{x.content_object.content_object.text_law|CleanJT|truncatechars:80}}</small>
                    {% endif %}
                </div>
                {% empty %}
                    <p> Aucun signalement déposé pour le moment </p>
                {% endfor %}
            </div>   
        </div>
    </div>
</div>
{% endautoescape %}
{% endblock %}


{% block Main %}
<article id="content">
    {% block content %}
    <br><br><br><br><br>
    <h3 style="text-align:center;">Séléctionner un cas de justice <br> à étudier pour l'afficher ici</h3>
    {% endblock %}
</article>
<article id="message">
    {% block message %}
    {% endblock %}
</article>

{% endblock %}

{% block script2 %}
    {% comment %}
    {% if redirect %}
        <script type="text/javascript">
            alert("Vous avez été redirigé vers votre tableau de bord de régulateur. Pour une raison de justice, ce site est auto-régulé par ses utilisateurs. Vous êtes donc modérateur comme tous les autres membres de la plateforme. C'est un droit mais aussi un devoir. Avant de pouvoir continuer à y contribuer, merci de bien vouloir  rendre une décision sur les points non levés présents dans l'onglet 'justice à rendre'. Pour plus d'information, merci de bien vouloir consulter las présentation dans la rubrique notre jusitce.");
        </script>
    {% endif %}
    {% endcomment %}
    <script type="text/javascript" src="{% static "js/CommonsJustice.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/adapters/jquery.js" %}"></script>
{% endblock %}