<!-- chat/templates/chat/room.html -->
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>user:{{user.id}} Contacts</title>
</head>
<body>
    {% block contacts %}
    {% load special_filters_chat %}
        <br><h3>Liste des contacts:</h3><br>
        <section id="ContactsList">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">  
                        <th scope="col"  colspan="3">Nom du contact</th>
                        <th scope="col">envoyer un message</th>
                        <th scope="col">bloquer le contact</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in contacts %}
                        {% if c|IsBlockedBy:user %}
                            <tr id="TR{{c.username}}{{c.id}}"class="table-warning">  
                        {% else %}
                            <tr id="TR{{c.username}}{{c.id}}">
                        {% endif %}
                            {% block TRblock %}
                                <th scope="row"  colspan="3">{{c.username}}</th>
                                {% if not c|IsBlockedBy:user %}
                                    <td class="ContactUserButton">
                                        <button class="btn">
                                            <img src="{% static 'icons/mail-send.png' %}" class="DiscussWith" name="{{c.username}}:{{c.id}}" title="envoyer un message" />
                                        </button>
                                    </td>
                                    <td class="BlockUserButton">
                                        <button class="btn">
                                            <img src="{% static 'icons/block.png' %}" class="BlockContact"name="{{c.username}}:{{c.id}}"title="bloquer le contact" />
                                        </button>
                                    </td>
                                {%else%}
                                    <td>
                                        contact bloqué
                                    </td>
                                    <td class="UnBlockUserButton">
                                        <button class="btn">
                                            <img src="{% static 'icons/padlock.png' %}" class="UnBlockContact"name="{{c.username}}:{{c.id}}"title="débloquer le contact"/>
                                        </button>
                                    </td>
                                {% endif %}
                            {% endblock %}
                        </tr>
                    {% empty %}
                        Aucun contacts pour le moment
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% endblock %}
</body>
</html>
