<!DOCTYPE html>
{% extends "base.html" %}

{% load special_filters_chat %}
{% load static %}
{% load filters %}



{% block nav %}
<style type="text/css" media="screen">
    nav{
        display: inline-block;
        width: 25%;
    } 
</style>
{% autoescape off %}
<div id="conversationsnav">
    <div id="ChatMenu">
        <div id="AddConv" class="ChatMenuElt" name="AddConv">
            <img src="{% static 'icons/add_conversation.png'%}" alt="add_conversation" style="padding-right:10px;" title="Créer une nouvelle conversation">
        </div>
        <div id="ManageContacts" class="ChatMenuElt" name="AddConv">
            <img src="{% static 'icons/contact_manager.png'%}" alt="contact_manager" style="padding-right:10px;" title="Gérer les contacts">
        </div>
    </div>
    <div id="SearchConv" name="SearchConv" class="SearchBar"> 
        <div id="SearchConvBar" class="input-group">
            <div class="input-group-prepend">
                <img src="{% static 'icons/search.png'%}" alt="search">
            </div>
            {% csrf_token %}
            <input id="SearchConvInput" type="text" class="form-control" placeholder="Rechercher une conversation">
          </div>
    </div>
    <div id="listconversations">
        {% for c in conversations %}
            <div id="itemConv{{c.id}}" class="list-group-item list-group-item-action flex-column align-items-start ConvItem"> <!-- active"> -->
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-2 h6">{{c|ConvName:user}}</h5>
                    <small>{{c.date}}</small>
                </div>
                {{c.message_set.last.message}}
            </div>
        {% empty %}
            <div>
                <p> Aucune conversations pour le moment </p> 
            </div> 
        {% endfor %}
    </div>
</div>   
{% endautoescape %}
{% endblock %}

{% block Main %}
<!-- Hiden icons for page functionnalities -->
<span style="display:none"><img src="{% static 'icons/close.png' %}" alt="com" class="icn removeico clickable" id="removecopy">
</span>

<!-- Hiden form for Conversation creation -->
<div id="dialogdiv">
    <form autocomplete="off" id="SearchUserResultsForm">
        {% csrf_token %}
        <input id="ConversationNameInput" style="width:400px;" placeholder="Nom de la conversation"><br><br>
        <input id="SearchUserInput" name="q" placeholder="Search..." style="width:300px;"><input id="ValidUserButton" type="submit" value="Ajouter">
        <div id="SearchUserResultsDiv"></div>
    </form>
    <div id="ListParticipant"><br></div>
</div>

<!-- content area-->
<article id="content">
    {% block content %}
    <br><br><br><br><br>
    <h3 style="text-align:center;">Séléctionner une conversation <br> à afficher ici</h3>
    {% endblock %}
</article>

{% endblock %}

{% block script2 %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/adapters/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/ChatSearches.js' %}"></script>
{% endblock %}
