<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    {% block room %}
    {% load special_filters_chat %}
        <strong>{{conv|ConvName:user}}:</strong>
        {% for p in participants %}
            <span> {{p.username}},</span>
        {% endfor %}
        <hr>
        <div id="chat-log-{{conv.name}}-{{conv.id}}" class="chat-log">
            {% for x in messages %}
            <div class="MessageWrapper">
                {% if request.user == x.author %}
                <div class="JusticeMessage MyMessage card text-white bg-primary mb-3">  
                {% else %}
                <div class="JusticeMessage OthersMessage card bg-light mb-3">
                {% endif %}
                     <div class="card-body MessageCard">
                        <span><b>{{x.author.username}}&nbsp;&nbsp;&nbsp;</b></span><small class="MessageDate">{{x.date}}</small><br>
                        <span class="card-text">{{x.message}}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div><br>
        <input id="chat-message-input-{{conv.name}}-{{conv.id}}" type="text" size="90">
        <input id="chat-message-submit-{{conv.name}}-{{conv.id}}" type="button" value="Send">
        <span style="display:none" id="convName">{{conv.name}}:{{conv.id}}</span>
        <span style="display:none" id="userData">{{user.username}}:{{user.id}}</span>
        {% endblock %}
</body>
</html>
