{% if users.count > 0 %}
  {% for u in users %}
    <div>
      <h5>{{ u.username }}</h5>
      <p>{{ u.first_name }} {{ u.last_name }} / {{ u.date_joined }}</p>
    </div>
  {% endfor %}
{% endif %}
