<!DOCTYPE html>
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/jstree-style.css' %}" />
<script type="text/javascript" src="{% static 'js/trees.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jstree.min.js' %}"></script>
</style>
<span style="display:none"><img src="{% static 'icons/close.png' %}" alt="com" class="icn closeico" id="closecopy">
<img src="{% static 'icons/totab.png' %}" alt="com" class="icn totabico addtab" id="totabcopy">
</span>
<div id="CYLtrees" class="toresize">
    <div id="treetabs" class="horizontalmenu">
        <ul class="nav nav-tabs navtreetab" role="tablist">
            <li role="presentation" class="nav-item"><a id="hometab" class="nav-link active" href="#jstree_main">Home</a></li>
            <li role="presentation" class="nav-item"><a id="addtab" class="nav-link addtab"> + </a></li>
        </ul>
    </div>
    <div id="CheckboxAbrogatedDiv">
        <input class="form-check-input" type="checkbox" id="CheckboxAbrogated" value="">
        <label class="form-check-label" for="CheckboxAbrogated">montrer les abrogés </label>
    </div>
    <div id="treediv" class="tab-content">
        <div id="jstree_main" class="tab-pane fade active show"><div id="jstree_CYL"  class="TreeNav ui-widget-content" style="padding:1px;"></div></div>
    </div>
</div>
<div id="NavBackGround">
	<br style="clear:both;">
	
	<br><br><br><br><br>
</div>