{% extends "base.html" %}
{% load i18n %}

{% block script %}
	<script>
	    function redirect(){
	       window.location.href = "{% url 'profile' 'info' %}";
	    }
	    setTimeout(redirect, 5000); 
	</script>
{% endblock %}

{% block title %} Informations personnelles mises à jours{% endblock %}

{% block Main %}
<section class="short_message">
	<p>Vos informations personnelles ont bien été mises à jour</p>
	<p>Vous allez être redirigé dans 5 secondes...</p>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
