{% extends "base.html" %}
{% load i18n %}

{% block script %}
	<script>
	    function redirect(){
	       window.location.href = "{% url 'profile' 'pwd' %}"; // A revoir!!!!
	    }
	    setTimeout(redirect, 5000); 
	</script>
{% endblock %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block Main %}
<section class="short_message">
	<p>{% trans "Password successfully changed!" %}</p>
	<p>Vous allez être redirigé dans 5 secondes...</p>
</section>
{% endblock %}


{# This is used by django.contrib.auth #}
